.pokemons {
    display: grid;
    margin: 0;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr 1fr;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1.5rem 1.25rem;
    background-color: #00dd9b;
    color: white;
    border-radius: 7.5px;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.pokemon .number {
    color: black;
    opacity: 0.75;
    font-size: .625rem;
    text-align: right;
}

.pokemon .name {
    margin-bottom: 0.25rem;
    text-transform: capitalize;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    border: 1px solid #ffffffa1;
    margin: .25rem;
    padding: .25rem .5rem;
    font-size: .625rem;
    border-radius: 1rem;
    text-align: center;
    filter: brightness(1.1);
}

.pokemons .detail img {
    border-style: none;
    max-width: 100%;
    height: 80px;
    align-self: flex-end;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
}

#loadMorePokemons {
    color: white;
    margin-bottom: 1rem;
    background-color: #7d5affbe;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}

@media screen and (max-width: 390px) {
    .pokemons {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 768px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}